ul.spec-download-list {
  display: none;
  position: absolute;
  margin-top: 10px;
  list-style: none;
  padding: 10px 0;
  border: 1px solid #d9d9d9;
  border-top: none;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  background-color: #FFF;
  z-index: 1;
}
ul.spec-download-list li {
  display: block;
  position: relative;
  white-space: nowrap;
  line-height: 1;
}
ul.spec-download-list li:hover {
  background: #F5F5F5;
}
ul.spec-download-list li:hover .specfont {
  display: inline-block;
}
ul.spec-download-list li a {
  display: block;
  color: #333;
  padding: 14px 18px;
}
ul.spec-download-list li a .name {
  margin-right: 40px;
}
ul.spec-download-list li a .specfont {
  position: absolute;
  right: 18px;
  display: none;
}
