//折叠菜单
.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    border-radius: 0;
    height: 50px;
    border-width: 0;

    .navbar-toggle {
        // float: left;
        .icon-bar {
            background-color: #fff;
        }
    }

    .navbar-logo {
        float: left;
        .specfont {
            font-size: 24px;
            color: #fff;
        }
        .icon-xialakuang {
            font-size: 12px;
            margin-left: 10px;
        }
    }
}

// > 770px
@media (min-width: 1024px) {
    .navbar .navbar-nav {
        margin-left: 15px;
        > li {
            > a {
                opacity: .6;
            }
            &:hover, &.active {
                > a {
                    opacity: 1;
                }
            }
        }
    }
}

@media (max-width: 1025px) {
    .navbar-logo {
        position: absolute;
        width: 180px;
        // left: 50%;
        right: 0;
        margin-left: -90px;
    }
    body .navbar-toggle {
        display: block;
        float: left;
    }
    #bs-example-navbar-collapse-1 {
        // display: none !important;
    }
    body .navbar-collapse {
        // display: none !important;
    }

    .navbar-nav {
        .dropdown.open {
            ul.dropdown-menu {
                // padding-left: 20px;
                > li.sidebar-item {
                    > a:hover {
                        color: #FFF;
                        background-color: #FF933A;
                    }
                }
            }
        }
    }
    .sidebar-col {
        display: none;
    }
    .main-col {
        margin-left: 0;
        width: 100%;
    }
    .navbar-nav .hasmore {
        display: none;
    }
    .navbar-nav >li >a.active {
        display: none;
    }
    .navbar-spec .dropdown {
        display: block !important;
    }
    .main-wrapper {
        padding: 15px 20px;
    }
}

.navbar-spec {
    background-color: #F60;
    .nav {
        > li {
          > a {
              color: #fff;
              padding: 15px 30px;
              font-size: 14px;
              &:hover {
                  background: none;
              }
          }
        }
    }
    .navbar-header {
        // position: relative;
    }
    .dropdown {
        // display: none;
        width: 100%;
        min-width: inherit;
    }

    .nav .open > a,
    .nav .open > a:hover,
    .nav .open > a:focus {
        background-color: #FF933A;
    }

    .navbar-collapse {
        background-color: #F60;
    }
}

//下拉菜单
.navbar-nav {
    .dropdown {
        display: none;
        .dropdown-toggle {
            font-size: 14px;
            display: block;
            color: #fff;
            border-radius: 0;
            height: auto;
            // padding: 15px 30px;
            border: 0 none;
            line-height: 36px;
        }
    }

}

.navbar-logo {
    .dropdown {
         .dropdown-toggle {
             border: none;
             height: 50px;
             width: 180px;
             border-radius: 0;
             text-align: center;
         }
        .dropdown-menu {
            background-color: #F60;
            border: none;
            padding: 0;
            margin: 0;
            border-radius: 0;
            > li {
                padding: 0;
                > a {
                    display: inline-block;
                    width: 180px;
                    height: 50px;
                    padding: 8px 24px;
                    &:hover {
                        border-radius: 0;
                    }
                }
                > a:hover, > a:focus {
                    background-color: #FF933A;
                }
            }
        }
    }
    .btn-default:active, .btn-default.active,
    .open > .dropdown-toggle.btn-default,
    body .dropdown .dropdown-menu > li > a:hover {
        background-color: #FF933A;
    }
}
