.spec-navbar {
  background-color: #FF6600;
  height: 50px;
  color: #FFF;
}
.spec-navbar a {
  float: left;
  display: inline-block;
  padding: 15px 30px;
  font-size: 14px;
  line-height: 20px;
  color: #FFF;
}
.spec-navbar a:hover {
  color: #FFF;
}
.spec-navbar a.brand {
  width: 200px;
  padding: 15px 15px;
  font-size: 20px;
  text-align: center;
}
