@import "../variables.less";

.pagination {
    
}
table.table-pagination {
    tfoot {
        tr {
            td {
                padding: 0
            }
        }
    }
}
.example-slider {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    .items {
        width: 80%;
        height: 300px;
        margin: 0 auto;
        background-color: #FAFAFA;
        .item {
            float: left;
        }
    }
    ul.navigator {
        list-style: none;
        padding: 0;
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 20px;
        li {
            display: inline-block;
            width: 10px;
            height: 10px;
            background-color: #CCC;
            border-radius: 50%;
            margin-right: 10px;
            cursor: pointer;

            &.active {
                border: 1px solid #FF6600;
                background-color: #FFF;
            }
        }
    }
    .arrows {
        .left, .right {
            position: absolute;
            top: 50%;
            margin-top: -20px;
            background-color: #CCC;
            width: 40px;
            height: 40px;
            color: #FFF;
            border-radius: 50%;
            text-align: center;
            cursor: pointer;
            .brixfont {
                font-size: 30px;
            }
            &:hover {
                background-color: @brand;
            }
        }
        .left {
            left: 10px;
        }
        .right {
            right: 10px;
        }
    }
}