<!DOCTYPE html>
<title>阿里妈妈产品设计规范</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="favicon.png">

<link href="http://g.tbcdn.cn/thx/brix-release/0.0.22/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
<link href="http://g.tbcdn.cn/thx/brix-release/0.0.22/highlightjs/styles/github.css" rel="stylesheet">
<link href="http://g.tbcdn.cn/thx/brix-release/0.0.22/brix-components/css-tool/mm.css" rel="stylesheet">
<link href="http://g.tbcdn.cn/thx/brix-release/0.0.22/brix-components/css-tool/browser.css" rel="stylesheet">
<link href="spec.components/spec.css" rel="stylesheet">

<div bx-name="spec/header"></div>
<div class="ungrid-row">
    <div class="sidebar-col">
        <div class="sidebar-wrapper">
            <div class="sidebar"></div>
        </div>
    </div><!-- col -->
    <div class="main-col">
        <div class="main-wrapper">
            <div id="main"></div>
            <div bx-name="spec/footer"></div>
        </div>
    </div><!-- col -->
</div><!-- row -->

<script src="http://g.tbcdn.cn/thx/brix-release/0.0.23/require-config.js"></script>
<script src="spec.components/config.js"></script>
<script src="spec.components/boot.js"></script>

<script>
    require(['jquery'], function($){
        $('.sidebar-wrapper').css('min-height', $(window).height())
    })
    require([
        'jquery', 'URIjs/URI', 'highlightjs',
        'brix/loader', 
        'spec.components/constant',
        'spec.components/catalog',
        'spec.components/clipboard'
    ], function(
        $, URI, hljs,
        Loader, 
        Constant,
        Catalog,
        Clipboard
    ) {
        // Loader.boot(function(){
        //     Catalog('.sidebar', 'h1')   
        // })
        // 加载组件 components/readme
        var uri = new URI(location.href)
        var query = uri.query(true)
        var name = query.name.toLowerCase()
        var readme = 'spec.components/' + name + '/README.md'
        var css = 'spec.components/' + name + '/' + name + '.css'
        require(['css!' + css])
        Loader.load(
            document.getElementById('main'), 
            'spec.components/readme/readme', // 'components/readme', 
            {
                url: readme
            },
            function() {
                var $sidebar = $('.sidebar').empty()
                var tpl = '<div class="sidebar-item" data-resp="<%= resp || name %>"><a href="<%= href %>"><%= name %> <small><%= resp %></small></a></div>'
                tpl = _.template(tpl)
                $(tpl({
                    href: 'components.html',
                    name: '所有',
                    resp: 'All'
                })).appendTo($sidebar)
                _.each(Constant.COMPONENTS, function(item, index) {
                    $(tpl({
                        href: 'readme.html?name=' + item.resp,
                        name: item.name,
                        resp: item.resp
                    })).appendTo($sidebar)
                })
                // Catalog('.sidebar', 'h2')
                $(document.body).find('pre code').each(function(index, code) {
                    hljs.highlightBlock(code)
                })
                $('[data-resp="' + query.name + '"]').addClass('active')

                Clipboard.init()
            }
        )
    })
</script>