.animation-background{
    background:url('../../assets/animation/landing/minecraft背景.svg') no-repeat;
    background-size: 100%;
    margin: 0px 0px -1px -40px;
    padding: 20px 0px 1px 40px;
}
.animation-vertical {
    vertical-align: middle;
    width: 60%;
    padding-right: 30px;
}
.animation-vertical-50{
    vertical-align: middle;
    width: 50%;
}
.animation-vertical-30{
    vertical-align: middle;
    width: 30%;
}
.animation-width-20{
    width: 20%;
}
.animation-width-10{
    width: 10%;
}
.animation-ball{
    position: absolute;
    top: 70px;
    left: 60px;
    width: 60%;
}
.line-height-24{
    line-height:24px;
}