.site-index {
  /*margin: 70px 0 0 0;*/
  background-color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.si-header {
  position: absolute;
  top: 20px;
  left: 10px;
  height: 100px;
  overflow: hidden;
  z-index: 16;
}
.si-logo {
  color: #FD523F;
  font-size: 56px;
  float: left;
}
.si-title {
  font-size: 179px;
  float: left;
  margin: -63px 0 0 4px;
  color: #595656;
}
.video-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.video-container .si-video {
  display: block;
  height: 100%;
  max-width: 100%;
  width: auto;
  margin: 0 auto;
}
.video-container .video-ctrl {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.video-container .video-ctrl-hide {
  display: none;
}
.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
  top: 36%;
  height: 90px;
  width: 100%;
  overflow: hidden;
}
.nav-list .nav-item {
  width: 90px;
  height: 90px;
  overflow: hidden;
  transform: translate(0, 100%);
  position: absolute;
  top: 0;
  left: 0;
}
.nav-list .nav-item-alibaba {
  left: 20%;
}
.nav-list .nav-item-tmall {
  left: 30%;
}
.nav-list .nav-item-juhuasuan {
  left: 40%;
}
.nav-list .nav-item-shoutao {
  left: 50%;
}
.nav-list .nav-item-taobao {
  left: 60%;
}
.nav-list .nav-item-alimama {
  left: 70%;
}
.nav-list .nav-item-slidein {
  animation: slidein 1s forwards;
}
@keyframes slidein {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
.nav-list .nav-item-selected {
  transition: left 0.4s;
  left: 45%;
  z-index: 3;
}
.nav-list .nav-item-logo {
  display: inline-block;
  width: 2160px;
  height: 90px;
  background: url("../img/alimama.png") no-repeat 0 0;
}
.nav-list .nav-item-alibaba .nav-item-logo {
  background-image: url("../img/alibaba.png");
}
.nav-list .nav-item-tmall .nav-item-logo {
  background-image: url("../img/tmall.png");
}
.nav-list .nav-item-juhuasuan .nav-item-logo {
  background-image: url("../img/juhuasuan.png");
}
.nav-list .nav-item-shoutao .nav-item-logo {
  background-image: url("../img/shoutao.png");
}
.nav-list .nav-item-taobao .nav-item-logo {
  background-image: url("../img/taobao.png");
}
.nav-list .nav-item-alimama .nav-item-logo {
  background-image: url("../img/alimama.png");
}
.nav-list .nav-item.nav-item-active .nav-item-logo {
  animation: 2s item-active steps(24);
}
.nav-list .nav-item.nav-item-enter .nav-item-logo {
  animation: 0.5s item-enter steps(12) forwards;
}
.nav-list .nav-item.nav-item-leave .nav-item-logo {
  animation: 0.5s item-leave steps(12);
}
@keyframes item-active {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-2160px, 0);
  }
}
@keyframes item-enter {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-1080px, 0);
  }
}
@keyframes item-leave {
  0% {
    transform: translate(-1080px, 0);
  }
  100% {
    transform: translate(-2160px, 0);
  }
}
.nav-list .nav-item-fadeout {
  animation: item-fadeout 0.4s forwards;
  transform: translate(0, 0);
}
@keyframes item-fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media (max-width: 700px) {
  .nav-list {
    height: 200px;
    width: 290px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .nav-list .nav-item {
    transform: translate(0, 330px);
  }
  .nav-list .nav-item-alibaba {
    left: 0;
  }
  .nav-list .nav-item-tmall {
    left: 100px;
  }
  .nav-list .nav-item-juhuasuan {
    left: 200px;
  }
  .nav-list .nav-item-shoutao {
    top: 100px;
    left: 0;
  }
  .nav-list .nav-item-taobao {
    top: 100px;
    left: 100px;
  }
  .nav-list .nav-item-alimama {
    top: 100px;
    left: 200px;
  }
  .nav-list .nav-item-selected {
    left: 100px;
  }
}
