.example .dialog {
  position: relative;
  opacity: 1;
}
.example .dialog .dialog-close {
  position: absolute;
  top: 20px;
  right: 10px;
  margin: 0;
}
.example .dialog .dialog-close .brixfont {
  font-size: 24px;
}
.example .dialog .dialog-content .dialog-header,
.example .dialog .dialog-content .dialog-body,
.example .dialog .dialog-content .dialog-footer {
  padding: 18px 40px;
}
.example .dialog .dialog-content .dialog-header {
  border-bottom: 1px solid #e6e6e6;
}
.example .dialog .dialog-content .dialog-footer {
  text-align: left;
  border-top: 1px solid #e6e6e6;
}
.example .dialog-backdrop {
  position: relative;
  display: block;
  opacity: 1;
  background-color: #808080;
  padding: 40px 50px;
}
.example .mm-tabs li:hover,
.example .mm-tabs li.active {
  border-bottom-color: #ff6600;
}
.example .mm-tabs li:hover a,
.example .mm-tabs li.active a {
  color: #ff6600;
}
