@import "../variables.less";

.hourpicker {
    
}

body .example {
    .hourpicker {
        table.picker-days {
            .picker-day {
                .picker-hours {
                    .picker-hour {
                        .picker-hour-duration {
                            z-index: 1;
                        }
                        &.active .picker-hour-duration {
                            background-color: @brand;
                        }
                        .picker-hour-start, .picker-hour-end {
                            background-color: @brand;
                            z-index: 2;
                        }
                        .bottom .picker-hour-arrow {
                            top: -3px;
                            border-bottom: 3px solid @brand;
                            margin-left: -3px;
                        }
                        .top .picker-hour-arrow {
                            bottom: -3px;
                            border-top: 3px solid @brand;
                            margin-left: -3px;
                        }
                    }
                }
            }
        }
    }
}