.searchbox {
    
}

.searchbox {
    display: inline-block;
    &.searchbox-simplify {
        input {
            padding-left: 20px;
            width: 0;
            &:hover, &:focus {
                padding-left: 30px;
                width: auto;
            }
        }
        &:hover {
            input {
                padding-left: 30px;
                width: auto;
            }
        }
    }
}
.bs-example-searchbox-1 {
    .input-group {
        border: 1px solid #FF6600;
        border-radius: 4px;
        .input-group-btn {
            > .btn {
                border-width: 0;
                width: initial;
                &.bg-brand {
                    border-radius: 0;
                    background-color: #FF6600;
                    color: #FFF;
                }
            }
            .dropdown {
                min-width: 90px;
                .dropdown-toggle {
                    border-radius: 4px 0 0 4px;
                    border-width: 0;
                    background-color: #E6E6E6;
                }
            }
        }
        .input-group-input {
            position: relative;
            display: table-cell;
            input {
                border-width: 0;
            }
            .dropdown.suggest {
                width: 100%;
                .dropdown-menu {
                    width: 100%;
                }
            }
        }
        
    }
    .hots {
        padding-left: 10px;
        a {
            margin-right: 10px;
            color: #999;
            &:hover {
                color: #4776ed;
            }
        }
    }
}
.bs-example-searchbox-2 {
    .input-group-tab {
        padding-left: 10px;
        .btn {
            height: 24px;
            line-height: 0;
            border-radius: 4px 4px 0 0;
            margin-right: 5px;
            background-color: transparent;
            &:hover {
                background-color: #E6E6E6;
            }
            &.active {
                background-color: #FF6600;
                color: #FFF;
            }
        }
    }
    .input-group {
        border: 1px solid #FF6600;
        border-radius: 4px;
        .input-group-btn {
            > .btn {
                border-width: 0;
                width: initial;
                &.bg-brand {
                    border-radius: 0;
                    background-color: #FF6600;
                    color: #FFF;
                }
            }
        }
        .input-group-input {
            position: relative;
            display: table-cell;
            input {
                border-width: 0;
            }
            .dropdown.suggest {
                width: 100%;
                .dropdown-menu {
                    width: 100%;
                }
            }
        }
    }
}