.fontsize-12 {
  font-size: 12px;
}
.fontsize-14 {
  font-size: 14px;
}
.fontsize-16 {
  font-size: 16px;
}
.fontsize-18 {
  font-size: 18px;
}
.fontsize-20 {
  font-size: 20px;
}
.fontsize-24 {
  font-size: 24px;
}
.fontsize-28 {
  font-size: 28px;
}
.fontsize-32 {
  font-size: 32px;
}
.fontsize-36 {
  font-size: 36px;
}
.fontsize-40 {
  font-size: 40px;
}
.ml0 {
  margin-left: 0px;
}
.ml2 {
  margin-left: 2px;
}
.ml3 {
  margin-left: 3px;
}
.ml4 {
  margin-left: 4px;
}
.ml5 {
  margin-left: 5px;
}
.ml6 {
  margin-left: 6px;
}
.ml7 {
  margin-left: 7px;
}
.ml8 {
  margin-left: 8px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.ml25 {
  margin-left: 25px;
}
.ml30 {
  margin-left: 30px;
}
.ml35 {
  margin-left: 35px;
}
.ml40 {
  margin-left: 40px;
}
.ml60 {
  margin-left: 60px;
}
.ml80 {
  margin-left: 80px;
}
.mr0 {
  margin-right: 0px;
}
.mr2 {
  margin-right: 2px;
}
.mr3 {
  margin-right: 3px;
}
.mr4 {
  margin-right: 4px;
}
.mr5 {
  margin-right: 5px;
}
.mr6 {
  margin-right: 6px;
}
.mr7 {
  margin-right: 7px;
}
.mr8 {
  margin-right: 8px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.mr25 {
  margin-right: 25px;
}
.mr30 {
  margin-right: 30px;
}
.mr35 {
  margin-right: 35px;
}
.mr40 {
  margin-right: 40px;
}
.mr60 {
  margin-right: 60px;
}
.mr80 {
  margin-right: 80px;
}
.mt0 {
  margin-top: 0px;
}
.mt2 {
  margin-top: 2px;
}
.mt3 {
  margin-top: 3px;
}
.mt4 {
  margin-top: 4px;
}
.mt5 {
  margin-top: 5px;
}
.mt6 {
  margin-top: 6px;
}
.mt7 {
  margin-top: 7px;
}
.mt8 {
  margin-top: 8px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.mt35 {
  margin-top: 35px;
}
.mt40 {
  margin-top: 40px;
}
.mt60 {
  margin-top: 60px;
}
.mt80 {
  margin-top: 80px;
}
.mb0 {
  margin-bottom: 0px;
}
.mb2 {
  margin-bottom: 2px;
}
.mb3 {
  margin-bottom: 3px;
}
.mb4 {
  margin-bottom: 4px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb6 {
  margin-bottom: 6px;
}
.mb7 {
  margin-bottom: 7px;
}
.mb8 {
  margin-bottom: 8px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb25 {
  margin-bottom: 25px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb35 {
  margin-bottom: 35px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb60 {
  margin-bottom: 60px;
}
.mb80 {
  margin-bottom: 80px;
}
.pl0 {
  padding-left: 0px;
}
.pl2 {
  padding-left: 2px;
}
.pl3 {
  padding-left: 3px;
}
.pl4 {
  padding-left: 4px;
}
.pl5 {
  padding-left: 5px;
}
.pl6 {
  padding-left: 6px;
}
.pl7 {
  padding-left: 7px;
}
.pl8 {
  padding-left: 8px;
}
.pl10 {
  padding-left: 10px;
}
.pl15 {
  padding-left: 15px;
}
.pl20 {
  padding-left: 20px;
}
.pl25 {
  padding-left: 25px;
}
.pl30 {
  padding-left: 30px;
}
.pl35 {
  padding-left: 35px;
}
.pl40 {
  padding-left: 40px;
}
.pl60 {
  padding-left: 60px;
}
.pl80 {
  padding-left: 80px;
}
.pr0 {
  padding-right: 0px;
}
.pr2 {
  padding-right: 2px;
}
.pr3 {
  padding-right: 3px;
}
.pr4 {
  padding-right: 4px;
}
.pr5 {
  padding-right: 5px;
}
.pr6 {
  padding-right: 6px;
}
.pr7 {
  padding-right: 7px;
}
.pr8 {
  padding-right: 8px;
}
.pr10 {
  padding-right: 10px;
}
.pr15 {
  padding-right: 15px;
}
.pr20 {
  padding-right: 20px;
}
.pr25 {
  padding-right: 25px;
}
.pr30 {
  padding-right: 30px;
}
.pr35 {
  padding-right: 35px;
}
.pr40 {
  padding-right: 40px;
}
.pr60 {
  padding-right: 60px;
}
.pr80 {
  padding-right: 80px;
}
.pt0 {
  padding-top: 0px;
}
.pt2 {
  padding-top: 2px;
}
.pt3 {
  padding-top: 3px;
}
.pt4 {
  padding-top: 4px;
}
.pt5 {
  padding-top: 5px;
}
.pt6 {
  padding-top: 6px;
}
.pt7 {
  padding-top: 7px;
}
.pt8 {
  padding-top: 8px;
}
.pt10 {
  padding-top: 10px;
}
.pt15 {
  padding-top: 15px;
}
.pt20 {
  padding-top: 20px;
}
.pt25 {
  padding-top: 25px;
}
.pt30 {
  padding-top: 30px;
}
.pt35 {
  padding-top: 35px;
}
.pt40 {
  padding-top: 40px;
}
.pt60 {
  padding-top: 60px;
}
.pt80 {
  padding-top: 80px;
}
.pb0 {
  padding-bottom: 0px;
}
.pb2 {
  padding-bottom: 2px;
}
.pb3 {
  padding-bottom: 3px;
}
.pb4 {
  padding-bottom: 4px;
}
.pb5 {
  padding-bottom: 5px;
}
.pb6 {
  padding-bottom: 6px;
}
.pb7 {
  padding-bottom: 7px;
}
.pb8 {
  padding-bottom: 8px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb15 {
  padding-bottom: 15px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb25 {
  padding-bottom: 25px;
}
.pb30 {
  padding-bottom: 30px;
}
.pb35 {
  padding-bottom: 35px;
}
.pb40 {
  padding-bottom: 40px;
}
.pb60 {
  padding-bottom: 60px;
}
.pb80 {
  padding-bottom: 80px;
}
* {
  transition: width .15s, padding .15s, margin .15s;
}
body {
  overflow-x: hidden;
}
/* Font */
@font-face {
  font-family: 'specfont';
  src: url('//at.alicdn.com/t/font_1435834666_5790358.eot');
  src: url('//at.alicdn.com/t/font_1435834666_5790358.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//at.alicdn.com/t/font_1435834666_5790358.woff') format('woff'), /* chrome、firefox */ url('//at.alicdn.com/t/font_1435834666_5790358.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/font_1435834666_5790358.svg#iconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
.specfont {
  font-family: "specfont" !important;
  font-size: 16px;
  font-style: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-minecraft:before {
  content: "\e632";
}
.icon-xialakuang:before {
  content: "\e623";
}
/* Font */
@font-face {
  font-family: 'zsfont';
  src: url('//at.alicdn.com/t/font_1436859315_9685595.eot');
  src: url('//at.alicdn.com/t/font_1436859315_9685595.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//at.alicdn.com/t/font_1436859315_9685595.woff') format('woff'), /* chrome、firefox */ url('//at.alicdn.com/t/font_1436859315_9685595.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/font_1436859315_9685595.svg#iconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
.zsfont {
  font-family: "zsfont" !important;
  font-size: 16px;
  font-style: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
/* SVG */
tspan {
  font-family: "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", Georgia, "Times New Roman", Arial, sans-serif;
}
/* 基础样式 & 工具样式 */
h1,
.h1 {
  font-size: 24px;
}
h2,
.h2 {
  font-size: 16px;
}
h3,
.h3 {
  font-size: 12px;
}
h4,
.h4 {
  font-size: 12px;
}
small,
.small {
  color: #666;
}
pre {
  background-color: #FAFAFA;
}
hr {
  border-top: 1px solid #e6e6e6;
}
p {
  line-height: 1.8;
}
.bold {
  font-weight: bold;
}
body .table thead tr th {
  height: 60px;
  padding: 0 8px;
  background-color: #fafafa;
  color: #999;
  font-weight: normal;
  vertical-align: middle;
  border: none;
}
body .table tbody tr td {
  padding: 28px 8px 16px;
  line-height: 1em;
  max-height: 90px;
  color: #333;
  border-top: none;
  border-bottom: 1px solid #ebebeb;
}
body .table tbody tr:hover {
  background-color: #f4f8ff;
}
body .table.table-bordered thead tr th {
  border: 1px solid #e6e6e6;
}
.lead {
  font-size: 12px;
}
.marginfix {
  height: 1px;
}
.text-align-center {
  text-align: center;
}
.vertical-align-middle {
  vertical-align: middle;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hljs {
  padding: 0;
  background-color: transparent;
}
/* Table Grid */
@media (min-width: 30em) {
  .ungrid-row {
    width: 100%;
    display: table;
    table-layout: fixed;
  }
  .ungrid-col {
    display: table-cell;
  }
}
.main-row {
  overflow: hidden;
}
.sidebar-col,
.main-col {
  float: left;
  position: relative;
  min-height: 1px;
}
.main-col {
  width: 78.3%;
  margin-left: 200px;
}
@media (max-width: 991px) {
  .sidebar-item small {
    display: none;
  }
  .sidebar-col .sidebar-wrapper {
    width: 10em;
  }
  .main-col {
    margin-left: 120px;
  }
  div.sidebar-wrapper .sidebar-item a,
  div.sidebar-wrapper .sidebar-item-sub a {
    padding: 10px;
  }
}
/* Clipboard */
.zero-clipboard {
  position: relative;
}
.zero-clipboard .btn-clipboard {
  position: absolute;
  top: 0;
  right: -1px;
  z-index: 10;
  display: block;
  padding: 5px 8px;
  font-size: 12px;
  color: #767676;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #e1e1e8;
  border-radius: 0 0 0 4px;
}
.zero-clipboard .btn-clipboard.zeroclipboard-is-hover {
  color: #FFF;
  border-color: #ff6600;
  background-color: #ff6600;
}
/* Media */
/* mm.css */
.color-brand {
  color: #ff6600;
}
.color-green {
  color: #51a300;
}
.color-red {
  color: #a40100;
}
.color-333 {
  color: #333333;
}
.color-666 {
  color: #666666;
}
.color-999 {
  color: #999999;
}
.color-ccc {
  color: #cccccc;
}
.bg-brand {
  background-color: #ff6600;
}
.bg-red {
  background-color: #a40100;
}
.bg-backdrop {
  background-color: #474747;
}
body .btn {
  border: 0;
  padding: 6px 20px;
}
body .btn.btn-brand {
  border: 0;
  background-color: #ff6600;
}
body .btn.btn-brand:hover,
body .btn.btn-brand.hover,
body .btn.btn-brand:focus,
body .btn.btn-brand.focus,
body .btn.btn-brand:active,
body .btn.btn-brand.active {
  border: 0;
  color: #fff;
  background-color: #fc4218;
}
body .btn.btn-disabled {
  border: 0;
  cursor: not-allowed;
}
body .btn.btn-progress {
  position: relative;
}
body .btn.btn-progress .btn-progress-bar {
  position: absolute;
  height: 32px;
  width: 50%;
  top: 0px;
  left: 0px;
  border-radius: 4px 0px 0px 4px;
  background-color: #cccccc;
}
body .btn.btn-progress span {
  position: relative;
}
body .btn.btn-progress:hover {
  background-color: #e6e6e6;
}
body .btn.btn-brand.btn-progress .btn-progress-bar {
  background-color: #fc4218;
}
body .btn.btn-brand.btn-progress:hover {
  background-color: #ff6600;
}
body .btn.btn-bounce .one,
body .btn.btn-bounce .two,
body .btn.btn-bounce .three {
  display: inline-block;
  margin: auto 5px;
  border-radius: 100%;
  width: 5px;
  height: 5px;
  background-color: #FFF;
}
/* */
.spec-anchor {
  display: block;
  height: 50px;
  width: 0px;
  margin-top: -50px;
}
.sidebar-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 200px;
  height: 100%;
  padding: 90px 0px 25px 0px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  overflow-y: scroll;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
}
.sidebar-wrapper .sidebar {
  padding-bottom: 40px;
}
.sidebar-wrapper .sidebar-item a,
.sidebar-wrapper .sidebar-item-sub a {
  color: #666;
  display: block;
  padding: 10px 20px;
  white-space: nowrap;
  word-wrap: normal;
}
.sidebar-wrapper .sidebar-item a:hover,
.sidebar-wrapper .sidebar-item-sub a:hover {
  background-color: #F8F8F8;
}
.sidebar-wrapper .sidebar-item a small,
.sidebar-wrapper .sidebar-item-sub a small {
  color: #999;
  font-size: 65%;
}
.sidebar-wrapper .sidebar-item.active a,
.sidebar-wrapper .sidebar-item-sub.active a {
  background-color: #F7987D;
}
.sidebar-wrapper .sidebar-item.active a,
.sidebar-wrapper .sidebar-item-sub.active a,
.sidebar-wrapper .sidebar-item.active a small,
.sidebar-wrapper .sidebar-item-sub.active a small {
  color: #FFF;
}
.sidebar-wrapper .sidebar-item-sub a {
  padding: 5px 10px 5px 40px;
}
.main-wrapper {
  margin-top: 50px;
  padding: 40px 40px 0 40px;
  min-height: 500px;
  max-width: 1170px;
}
/* Readme */
#main {
  min-height: 500px;
}
/* Components */
.flat-text,
.flat-text.small {
  margin: 0;
  height: 20px;
  background-color: #e6e6e6;
}
/* Input */
.parsley-errors-list {
  padding-left: 20px;
  color: #B94A48;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* Textarea */
body textarea,
body .textarea,
body textarea.form-control,
body .textarea.form-control {
  height: auto;
}
.list .item {
  height: 50px;
  padding: 10px 10px;
  line-height: 30px;
}
.list .item .item-content {
  float: left;
  width: 100%;
}
.list .item .item-actions {
  float: right;
}
.list .item .item-actions .item-actions-users {
  position: relative;
}
.list .item .item-actions .item-actions-users .item-actions-user {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
}
.list .item .item-actions .item-actions-users .item-actions-user:nth-child( 1) {
  right: 10px;
  background-color: #d012ee;
}
.list .item .item-actions .item-actions-users .item-actions-user:nth-child( 2) {
  right: 20px;
  background-color: #63307a;
}
.list .item .item-actions .item-actions-users .item-actions-user:nth-child( 3) {
  right: 30px;
  background-color: #837ff9;
}
.list .item .item-actions .item-actions-users .item-actions-user:nth-child( 4) {
  right: 40px;
  background-color: #44c1d2;
}
.list .item .item-actions .item-actions-users .item-actions-user:nth-child( 5) {
  right: 50px;
  background-color: #b365d8;
}
.list .item .item-actions .item-actions-users .item-actions-user:nth-child( 6) {
  right: 60px;
  background-color: #c84e8e;
}
.list .item .item-actions .item-actions-users .item-actions-user:nth-child( 7) {
  right: 70px;
  background-color: #2d7690;
}
.list .item .item-actions .item-actions-users .item-actions-user:nth-child( 8) {
  right: 80px;
  background-color: #a403c7;
}
.list .item .item-actions .item-actions-users .item-actions-user:nth-child( 9) {
  right: 90px;
  background-color: #904701;
}
.list .item .item-actions .item-actions-users .item-actions-user:nth-child( 10) {
  right: 100px;
  background-color: #bba2ae;
}
.list .item:hover {
  background-color: #FAF1ED;
}
.list .item:hover .item-actions .item-actions-users .item-actions-user:nth-child( 1) {
  right: 35px;
}
.list .item:hover .item-actions .item-actions-users .item-actions-user:nth-child( 2) {
  right: 70px;
}
.list .item:hover .item-actions .item-actions-users .item-actions-user:nth-child( 3) {
  right: 105px;
}
.list .item:hover .item-actions .item-actions-users .item-actions-user:nth-child( 4) {
  right: 140px;
}
.list .item:hover .item-actions .item-actions-users .item-actions-user:nth-child( 5) {
  right: 175px;
}
.list .item:hover .item-actions .item-actions-users .item-actions-user:nth-child( 6) {
  right: 210px;
}
.list .item:hover .item-actions .item-actions-users .item-actions-user:nth-child( 7) {
  right: 245px;
}
.list .item:hover .item-actions .item-actions-users .item-actions-user:nth-child( 8) {
  right: 280px;
}
.list .item:hover .item-actions .item-actions-users .item-actions-user:nth-child( 9) {
  right: 315px;
}
.list .item:hover .item-actions .item-actions-users .item-actions-user:nth-child( 10) {
  right: 350px;
}
