/* */
@font-face {
  font-family: 'specfont';
  src: url('//at.alicdn.com/t/font_1435834666_5790358.eot');
  src: url('//at.alicdn.com/t/font_1435834666_5790358.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//at.alicdn.com/t/font_1435834666_5790358.woff') format('woff'), /* chrome、firefox */ url('//at.alicdn.com/t/font_1435834666_5790358.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/font_1435834666_5790358.svg#iconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
.specfont {
  font-family: "specfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
/* 基础 */
h1,
.h1 {
  font-size: 20px;
}
h2,
.h2 {
  font-size: 16px;
}
h3,
.h3 {
  font-size: 14px;
}
h4,
.h4 {
  margin-top: 20px;
  margin-bottom: 10px;
}
small,
.small {
  color: #666;
}
pre {
  background-color: #FAFAFA;
}
hr {
  border-top: 1px solid #e6e6e6;
}
body .table thead tr th {
  height: 60px;
  padding: 0 8px;
  background-color: #fafafa;
  color: #999;
  font-weight: normal;
  vertical-align: middle;
  border: none;
}
body .table tbody tr td {
  padding: 28px 8px 16px;
  line-height: 1em;
  max-height: 90px;
  color: #333;
  border-top: none;
  border-bottom: 1px solid #ebebeb;
}
body .table tbody tr:hover {
  background-color: #f4f8ff;
}
body .table.table-bordered thead tr th {
  border: 1px solid #e6e6e6;
}
.lead {
  font-size: 12px;
}
.marginfix {
  height: 1px;
}
.text-align-center {
  text-align: center;
}
.vertical-align-middle {
  vertical-align: middle;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hljs {
  padding: 0;
  background-color: transparent;
}
/* Grid */
@media (min-width: 30em) {
  .ungrid-row {
    width: 100%;
    display: table;
    table-layout: fixed;
  }
  .ungrid-col {
    display: table-cell;
  }
}
* {
  transition: all 0.15s ease-in-out, top 0, left 0;
}
/* Clipboard */
.zero-clipboard {
  position: relative;
}
.zero-clipboard .btn-clipboard {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: block;
  padding: 5px 8px;
  font-size: 12px;
  color: #767676;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #e1e1e8;
  border-radius: 0 4px 0 4px;
}
/* Media */
/* mm.css */
body .btn {
  border: 0;
}
body .btn.btn-brand {
  border: 0;
  background-color: #ff6600;
}
body .btn.btn-brand:hover,
body .btn.btn-brand.hover,
body .btn.btn-brand:focus,
body .btn.btn-brand.focus,
body .btn.btn-brand:active,
body .btn.btn-brand.active {
  border: 0;
  color: #fff;
  background-color: #fc4218;
}
body .btn.btn-disabled {
  border: 0;
  cursor: not-allowed;
}
body .btn.btn-progress {
  position: relative;
}
body .btn.btn-progress .btn-progress-bar {
  position: absolute;
  height: 32px;
  width: 50%;
  top: 0px;
  left: 0px;
  border-radius: 4px 0px 0px 4px;
  background-color: #cccccc;
}
body .btn.btn-progress span {
  position: relative;
}
body .btn.btn-progress:hover {
  background-color: #e6e6e6;
}
body .btn.btn-brand.btn-progress .btn-progress-bar {
  background-color: #fc4218;
}
body .btn.btn-brand.btn-progress:hover {
  background-color: #ff6600;
}
body .btn.btn-bounce .one,
body .btn.btn-bounce .two,
body .btn.btn-bounce .three {
  display: inline-block;
  margin: auto 5px;
  border-radius: 100%;
  width: 5px;
  height: 5px;
  background-color: #FFF;
}
/* */
.spec-anchor {
  display: block;
  height: 50px;
  margin-top: -50px;
}
.sidebar-wrapper {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10;
  width: 200px;
  min-height: 500px;
  height: 100%;
  padding: 90px 0px 25px 0px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  overflow: scroll;
}
.sidebar-wrapper .sidebar {
  padding-bottom: 40px;
}
.sidebar-wrapper .sidebar .sidebar-item a,
.sidebar-wrapper .sidebar .sidebar-item-sub a {
  color: #666;
  display: block;
  padding: 10px 20px;
}
.sidebar-wrapper .sidebar .sidebar-item a:hover,
.sidebar-wrapper .sidebar .sidebar-item-sub a:hover {
  background-color: #F8F8F8;
}
.sidebar-wrapper .sidebar .sidebar-item a small,
.sidebar-wrapper .sidebar .sidebar-item-sub a small {
  color: #999;
  font-size: 65%;
}
.sidebar-wrapper .sidebar .sidebar-item.active a,
.sidebar-wrapper .sidebar .sidebar-item-sub.active a {
  background-color: #F7987D;
}
.sidebar-wrapper .sidebar .sidebar-item.active a,
.sidebar-wrapper .sidebar .sidebar-item-sub.active a,
.sidebar-wrapper .sidebar .sidebar-item.active a small,
.sidebar-wrapper .sidebar .sidebar-item-sub.active a small {
  color: #FFF;
}
.sidebar-wrapper .sidebar .sidebar-item-sub a {
  padding: 5px 10px 5px 40px;
}
.main-wrapper {
  margin-top: 50px;
  padding: 30px 40px 0 40px;
  min-height: 500px;
}
@media (max-width: 768px) {
  .spec-navbar a.brand {
    display: none;
  }
}
/* Header */
.spec-navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  color: #FFF;
  background-color: #FF6600;
  z-index: 9999;
}
.spec-navbar .spec-navbar-header {
  width: 200px;
  text-align: center;
}
.spec-navbar .spec-navbar-header a.spec-navbar-brand {
  opacity: 1;
  font-size: 28px;
  padding: 15px 15px;
}
.spec-navbar .spec-navbar-nav a {
  padding: 15px 30px;
  font-size: 14px;
}
.spec-navbar .spec-navbar-nav a:first-child {
  padding-left: 40px;
}
.spec-navbar a {
  display: inline-block;
  line-height: 20px;
  color: #FFF;
  opacity: .6;
}
.spec-navbar a:hover {
  color: #FFF;
  opacity: 1;
}
.spec-navbar a.active {
  opacity: 1;
}
/* Footer */
.footer {
  padding: 40px 50px;
  margin: 40px -40px;
  color: #666;
  text-align: center;
  border-top: 1px solid #e6e6e6;
}
/* CSS */
table.table-brand {
  width: 100%;
}
table.table-brand td {
  text-align: center;
  padding: 10px;
  white-space: nowrap;
}
table.table-brand td .img-circle {
  display: inline-block;
}
.demo-background-color-item,
.demo-background-color-hover-item {
  margin-bottom: 10px;
}
.demo-background-color-item .content,
.demo-background-color-hover-item .content {
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
}
.demo-background-color-item .content .up,
.demo-background-color-hover-item .content .up,
.demo-background-color-item .content .down,
.demo-background-color-hover-item .content .down {
  color: #FFF;
  height: 48px;
  line-height: 48px;
  vertical-align: middle;
  text-align: center;
}
.demo-background-color-item .content .up,
.demo-background-color-hover-item .content .up {
  border-radius: 5px 5px 0 0;
}
.demo-background-color-item .content .down,
.demo-background-color-hover-item .content .down {
  border-radius: 0 0 5px 5px;
}
/* Components */
.basics .panel,
.components .panel {
  border: 1px solid #E5E5E5;
}
.basics .panel .panel-heading,
.components .panel .panel-heading,
.basics .panel .panel-footer,
.components .panel .panel-footer {
  background-color: #FAFAFA;
}
.basics .panel .panel-heading,
.components .panel .panel-heading {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #666;
  line-height: 20px;
}
.basics .panel .panel-footer,
.components .panel .panel-footer {
  white-space: nowrap;
  overflow: hidden;
}
.basics .panel .panel-footer a,
.components .panel .panel-footer a {
  color: #666;
  margin-right: 10px;
}
.basics .panel .panel-footer a:hover,
.components .panel .panel-footer a:hover {
  color: #333;
}
.basics .panel .panel-body {
  height: 110px;
  overflow: hidden;
}
.components .panel .panel-body {
  height: 210px;
  overflow: hidden;
}
.components img {
  width: 100%;
}
/* Brand */
@font-face {
  font-family: 'brandfont';
  src: url('//at.alicdn.com/t/font_1435906499_6216583.eot');
  src: url('//at.alicdn.com/t/font_1435906499_6216583.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//at.alicdn.com/t/font_1435906499_6216583.woff') format('woff'), /* chrome、firefox */ url('//at.alicdn.com/t/font_1435906499_6216583.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/font_1435906499_6216583.svg#iconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
.brandfont {
  font-family: "brandfont" !important;
  font-size: 48px;
  font-style: normal;
  color: #999;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.brandfont.brandfont-title {
  font-size: 72px;
  color: #333;
}
.brand-typography img.cn {
  height: 50px;
}
.brand-typography img.en {
  height: 30px;
}
.brand img.img-responsive {
  margin-top: 20px;
  margin-bottom: 40px;
}
.brand-color-palettes .item {
  color: #FFF;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 20px;
  margin-bottom: 10px;
  text-align: center;
  padding: 46px 10px;
}
.brand-character .waixingtezheng .quanquan {
  position: absolute;
  border: 2px solid #666;
  width: 20px;
  height: 20px;
  border-style: dotted;
  border-radius: 50%;
}
.brand-character .xinggetezheng .wrapper {
  position: relative;
  width: 200px;
  height: 275px;
}
.brand-character .xinggetezheng .wrapper img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 200px;
}
.brand-character .xinggetezheng .wrapper div {
  position: absolute;
  left: 20px;
  bottom: 0;
  z-index: 1;
  width: 160px;
  height: 160px;
  border: 1px solid #FF6600;
  border-radius: 50%;
}
.brand-character .sanshitu .item {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/* Readme */
#main {
  min-height: 500px;
}
body .bs-example {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
}
body .bs-example .content {
  padding-top: 15px;
}
body .bs-example pre {
  border-top: 1px solid #ddd;
}
body .bs-example:after {
  content: "";
}
/* Animation */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@keyframes ani-shake {
  0%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
.ani-shake {
  -webkit-animation-name: ani-shake;
  animation-name: ani-shake;
}
@keyframes ani-progressbar {
  0% {
    width: 0%;
  }
  80% {
    border-radius: 4px;
  }
  100% {
    width: 100%;
    border-radius: 4px;
  }
}
.ani-progressbar {
  animation-duration: 2s;
  -webkit-animation-name: ani-progressbar;
  animation-name: ani-progressbar;
}
@keyframes ani-bounce {
  0% {
    margin-top: 0px;
  }
  25% {
    margin-top: -10px;
  }
  50% {
    margin-top: 0px;
  }
  75% {
    margin-top: 10px;
  }
  100% {
    margin-top: 0px;
  }
}
.ani-bounce {
  position: relative;
}
.ani-bounce .one {
  position: absolute;
  animation-name: ani-bounce;
  animation-duration: .6s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
/* Checkbox */
label {
  font-weight: normal;
  margin-right: 40px;
}
label input[type="radio"],
label input[type="checkbox"] {
  margin-right: 10px;
}
label p.desc {
  color: #999;
  padding-left: 25px;
  margin-bottom: 0px;
}
ul.checklist {
  list-style: none;
  padding-left: 25px;
}
ul.checklist > li {
  margin-bottom: 10px;
}
.checklist-linkage ul {
  display: inline-block;
  list-style: none;
}
.checklist-linkage ul li {
  float: left;
}
.checklist-linkage ul li .title {
  line-height: 26px;
}
/* Input */
.parsley-errors-list {
  padding-left: 20px;
  color: #B94A48;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* Textarea */
body textarea,
body .textarea,
body textarea.form-control,
body .textarea.form-control {
  height: auto;
}
/* Breadcrumb */
ol.breadcrumb {
  list-style: none;
  padding: 0px;
  margin-bottom: 20px;
  background-color: transparent;
}
ol.breadcrumb > li > a {
  color: #999;
}
ol.breadcrumb > li > a:hover {
  color: #4776ed;
}
ol.breadcrumb > li + li:before {
  padding: 0 5px 0 3px;
  color: #999;
  content: ">";
}
ol.breadcrumb > li .dropdown {
  min-width: inherit;
}
ol.breadcrumb > li .dropdown .dropdown-toggle {
  border-color: transparent;
}
ol.breadcrumb > li .dropdown .dropdown-toggle:hover {
  border-color: #CCC;
}
/* Pagination */
table.table-pagination tfoot tr td {
  padding: 0;
}
.bs-example-slider {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.bs-example-slider .items {
  width: 80%;
  height: 300px;
  margin: 0 auto;
  background-color: #FAFAFA;
}
.bs-example-slider .items .item {
  float: left;
}
.bs-example-slider ul.navigator {
  list-style: none;
  padding: 0;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
}
.bs-example-slider ul.navigator li {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #CCC;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}
.bs-example-slider ul.navigator li.active {
  border: 1px solid #FF6600;
  background-color: #FFF;
}
.bs-example-slider .arrows .left,
.bs-example-slider .arrows .right {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  background-color: #CCC;
  width: 40px;
  height: 40px;
  color: #FFF;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
.bs-example-slider .arrows .left .brixfont,
.bs-example-slider .arrows .right .brixfont {
  font-size: 30px;
}
.bs-example-slider .arrows .left:hover,
.bs-example-slider .arrows .right:hover {
  background-color: #ff6600;
}
.bs-example-slider .arrows .left {
  left: 10px;
}
.bs-example-slider .arrows .right {
  right: 10px;
}
/* SearchBox */
.searchbox {
  display: inline-block;
}
.searchbox.searchbox-simplify input {
  padding-left: 20px;
  width: 0;
}
.searchbox.searchbox-simplify input:hover,
.searchbox.searchbox-simplify input:focus {
  padding-left: 30px;
  width: auto;
}
.searchbox.searchbox-simplify:hover input {
  padding-left: 30px;
  width: auto;
}
.bs-example-searchbox-1 .input-group {
  border: 1px solid #FF6600;
  border-radius: 4px;
}
.bs-example-searchbox-1 .input-group .input-group-btn > .btn {
  border-width: 0;
  width: initial;
}
.bs-example-searchbox-1 .input-group .input-group-btn > .btn.bg-brand {
  border-radius: 0;
  background-color: #FF6600;
  color: #FFF;
}
.bs-example-searchbox-1 .input-group .input-group-btn .dropdown {
  min-width: 90px;
}
.bs-example-searchbox-1 .input-group .input-group-btn .dropdown .dropdown-toggle {
  border-radius: 4px 0 0 4px;
  border-width: 0;
  background-color: #E6E6E6;
}
.bs-example-searchbox-1 .input-group .input-group-input {
  position: relative;
  display: table-cell;
}
.bs-example-searchbox-1 .input-group .input-group-input input {
  border-width: 0;
}
.bs-example-searchbox-1 .input-group .input-group-input .dropdown.suggest {
  width: 100%;
}
.bs-example-searchbox-1 .input-group .input-group-input .dropdown.suggest .dropdown-menu {
  width: 100%;
}
.bs-example-searchbox-1 .hots {
  padding-left: 10px;
}
.bs-example-searchbox-1 .hots a {
  margin-right: 10px;
  color: #999;
}
.bs-example-searchbox-1 .hots a:hover {
  color: #4776ed;
}
.bs-example-searchbox-2 .input-group-tab {
  padding-left: 10px;
}
.bs-example-searchbox-2 .input-group-tab .btn {
  height: 24px;
  line-height: 0;
  border-radius: 4px 4px 0 0;
  margin-right: 5px;
  background-color: transparent;
}
.bs-example-searchbox-2 .input-group-tab .btn:hover {
  background-color: #E6E6E6;
}
.bs-example-searchbox-2 .input-group-tab .btn.active {
  background-color: #FF6600;
  color: #FFF;
}
.bs-example-searchbox-2 .input-group {
  border: 1px solid #FF6600;
  border-radius: 4px;
}
.bs-example-searchbox-2 .input-group .input-group-btn > .btn {
  border-width: 0;
  width: initial;
}
.bs-example-searchbox-2 .input-group .input-group-btn > .btn.bg-brand {
  border-radius: 0;
  background-color: #FF6600;
  color: #FFF;
}
.bs-example-searchbox-2 .input-group .input-group-input {
  position: relative;
  display: table-cell;
}
.bs-example-searchbox-2 .input-group .input-group-input input {
  border-width: 0;
}
.bs-example-searchbox-2 .input-group .input-group-input .dropdown.suggest {
  width: 100%;
}
.bs-example-searchbox-2 .input-group .input-group-input .dropdown.suggest .dropdown-menu {
  width: 100%;
}
/* Just Test */
.list .item {
  height: 50px;
  padding: 10px 10px;
  line-height: 30px;
}
.list .item .item-content {
  float: left;
  width: 100%;
}
.list .item .item-actions {
  float: right;
}
.list .item .item-actions .item-actions-users {
  position: relative;
}
.list .item .item-actions .item-actions-users .item-actions-user {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
}
.list .item .item-actions .item-actions-users .item-actions-user:nth-child( 1) {
  right: 10px;
  background-color: #3dba9a;
}
.list .item .item-actions .item-actions-users .item-actions-user:nth-child( 2) {
  right: 20px;
  background-color: #3ea1e7;
}
.list .item .item-actions .item-actions-users .item-actions-user:nth-child( 3) {
  right: 30px;
  background-color: #e36219;
}
.list .item .item-actions .item-actions-users .item-actions-user:nth-child( 4) {
  right: 40px;
  background-color: #c688c8;
}
.list .item .item-actions .item-actions-users .item-actions-user:nth-child( 5) {
  right: 50px;
  background-color: #efb839;
}
.list .item .item-actions .item-actions-users .item-actions-user:nth-child( 6) {
  right: 60px;
  background-color: #27c5fe;
}
.list .item .item-actions .item-actions-users .item-actions-user:nth-child( 7) {
  right: 70px;
  background-color: #92ebd3;
}
.list .item .item-actions .item-actions-users .item-actions-user:nth-child( 8) {
  right: 80px;
  background-color: #8766a3;
}
.list .item .item-actions .item-actions-users .item-actions-user:nth-child( 9) {
  right: 90px;
  background-color: #88d4d9;
}
.list .item .item-actions .item-actions-users .item-actions-user:nth-child( 10) {
  right: 100px;
  background-color: #e05147;
}
.list .item:hover {
  background-color: #FAF1ED;
}
.list .item:hover .item-actions .item-actions-users .item-actions-user:nth-child( 1) {
  right: 35px;
}
.list .item:hover .item-actions .item-actions-users .item-actions-user:nth-child( 2) {
  right: 70px;
}
.list .item:hover .item-actions .item-actions-users .item-actions-user:nth-child( 3) {
  right: 105px;
}
.list .item:hover .item-actions .item-actions-users .item-actions-user:nth-child( 4) {
  right: 140px;
}
.list .item:hover .item-actions .item-actions-users .item-actions-user:nth-child( 5) {
  right: 175px;
}
.list .item:hover .item-actions .item-actions-users .item-actions-user:nth-child( 6) {
  right: 210px;
}
.list .item:hover .item-actions .item-actions-users .item-actions-user:nth-child( 7) {
  right: 245px;
}
.list .item:hover .item-actions .item-actions-users .item-actions-user:nth-child( 8) {
  right: 280px;
}
.list .item:hover .item-actions .item-actions-users .item-actions-user:nth-child( 9) {
  right: 315px;
}
.list .item:hover .item-actions .item-actions-users .item-actions-user:nth-child( 10) {
  right: 350px;
}
