@import "./variables.less";

// ----------------------------------------
// https://github.com/seven-phases-max/less.curious
.for(@i, @n) {.-each(@i)}
.for(@n)     when (isnumber(@n)) {.for(1, @n)}
.for(@i, @n) when not (@i = @n)  {
    .for((@i + (@n - @i) / abs(@n - @i)), @n);
}
.for(@array)   when (default()) {.for-impl_(length(@array))}
.for-impl_(@i) when (@i > 1)    {.for-impl_((@i - 1))}
.for-impl_(@i) when (@i > 0)    {.-each(extract(@array, @i))}

// ----------------------------------------
.fontsize- {
    .for(12 14 16 18 20 24 28 32 36 40); .-each(@px) {
        &@{px} {
            font-size: @px * 1px;
        }
    }
}
// ----------------------------------------
.ml {
    .for(0 2 3 4 5 6 7 8 10 15 20 25 30 35 40 60 80); .-each(@px) {
        &@{px} {
            margin-left: @px * 1px;
        }
    }
}
.mr {
    .for(0 2 3 4 5 6 7 8 10 15 20 25 30 35 40 60 80); .-each(@px) {
        &@{px} {
            margin-right: @px * 1px;
        }
    }
}
.mt {
    .for(0 2 3 4 5 6 7 8 10 15 20 25 30 35 40 60 80); .-each(@px) {
        &@{px} {
            margin-top: @px * 1px;
        }
    }
}
.mb {
    .for(0 2 3 4 5 6 7 8 10 15 20 25 30 35 40 60 80); .-each(@px) {
        &@{px} {
            margin-bottom: @px * 1px;
        }
    }
}
// ----------------------------------------
.pl {
    .for(0 2 3 4 5 6 7 8 10 15 20 25 30 35 40 60 80); .-each(@px) {
        &@{px} {
            padding-left: @px * 1px;
        }
    }
}
.pr {
    .for(0 2 3 4 5 6 7 8 10 15 20 25 30 35 40 60 80); .-each(@px) {
        &@{px} {
            padding-right: @px * 1px;
        }
    }
}
.pt {
    .for(0 2 3 4 5 6 7 8 10 15 20 25 30 35 40 60 80); .-each(@px) {
        &@{px} {
            padding-top: @px * 1px;
        }
    }
}
.pb {
    .for(0 2 3 4 5 6 7 8 10 15 20 25 30 35 40 60 80); .-each(@px) {
        &@{px} {
            padding-bottom: @px * 1px;
        }
    }
}

// 重新定义字体渲染为默认，需要删除 mm.css 中的定义
* {
    // -webkit-font-smoothing: auto;
    transition: width .15s, padding .15s, margin .15s;
}

// 隐藏横向滚动条
body {
    overflow-x: hidden;
    -webkit-font-smoothing: auto; //重置字体渲染
}

/* Font */
@font-face {
    font-family: 'specfont';
    src: url('//at.alicdn.com/t/font_1435834666_5790358.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/font_1435834666_5790358.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/font_1435834666_5790358.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/font_1435834666_5790358.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/font_1435834666_5790358.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.specfont {
    font-family: "specfont" !important;
    font-size: 16px;
    font-style: normal;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.icon-minecraft:before { content: "\e632"; }
.icon-xialakuang:before { content: "\e623"; }

/* Font */
@font-face {
    font-family: 'zsfont';
    src: url('//at.alicdn.com/t/font_1436859315_9685595.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/font_1436859315_9685595.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/font_1436859315_9685595.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/font_1436859315_9685595.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/font_1436859315_9685595.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.zsfont {
  font-family: "zsfont" !important;
  font-size: 16px;
  font-style: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/* Font */
@font-face {
  font-family: 'productfont';
  src: url('//at.alicdn.com/t/font_1437963799_8145447.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1437963799_8145447.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1437963799_8145447.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1437963799_8145447.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1437963799_8145447.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.productfont {
  font-family: "productfont" !important;
  font-size: 16px;
  font-style: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/* SVG */
tspan {
    font-family: "Microsoft YaHei","微软雅黑",STXihei,"华文细黑",Georgia,"Times New Roman",Arial,sans-serif;
}

/* 基础样式 & 工具样式 */
h1, .h1 {
    font-size: 24px;
}
h2, .h2 {
    font-size: 16px;
}
h3, .h3 {
    font-size: 12px;
}
h4, .h4 {
    font-size: 12px;
}
small, .small {
    color: #666;
}
pre {
    background-color: #FAFAFA;
}
hr {
    border-top: 1px solid #e6e6e6;
}
p {
    line-height: 1.8;
}
.bold {
    font-weight: bold;
}

body .table {
    thead tr th {
        height: 60px;
        padding: 0 8px;
        background-color: #fafafa;
        color: #999;
        font-weight: normal;
        vertical-align: middle;
        border: none;
    }
    tbody tr td {
        padding: 28px 8px 16px;
        line-height: 1em;
        max-height: 90px;
        color: #333;
        border-top: none;
        border-bottom: 1px solid #ebebeb;
    }
    tbody tr:hover {
        background-color: #f4f8ff;
    }

    &.table-bordered {
        thead tr th {
            border: 1px solid #e6e6e6;
        }
    }
}

.lead {
    font-size: 12px;
}
.marginfix {
    height: 1px;
}
.text-align-center {
    text-align: center;
}
.vertical-align-middle {
    vertical-align: middle;
}
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.hljs {
    padding: 0;
    background-color: transparent;
}

/* Table Grid */

@media (min-width: 30em) {
    .ungrid-row {
        width: 100%;
        display: table;
        table-layout: fixed;
    }
    .ungrid-col {
        display: table-cell;
    }
}

.main-row {
    overflow: hidden;
}
.sidebar-col, .main-col {
    float: left;
    position: relative;
    min-height: 1px;
}
.sidebar-col {
    // width: 200px;
}
.main-col {
    width: 78.3%;
    margin-left: 200px;
}

/* @Media
 * http://demo.alibaba-inc.com/system/ids_extracted/b8/27/95/89/fad08ae2f1c3bec0ae72575a/index.html
 */
// pad < media < pc
@media (max-width: 991px) {
    .sidebar-item small {
        display: none;
    }
    .sidebar-col .sidebar-wrapper {
        width: 10em;
    }
    .main-col {
        margin-left: 120px;
    }
    div.sidebar-wrapper .sidebar-item a,
    div.sidebar-wrapper .sidebar-item-sub a {
        padding: 10px;
    }
}

// 320 < pad2 <= 768
@media (min-width: 319px) and (max-width: 769px) {

}

// 768 < pad <= 1024
@media (min-width: 767px) and (max-width: 1025px) {

}

// 1024 < PC <= 1280
@media (min-width: 1023px) and (max-width: 1281px) {

}

// PC+ >1280
@media (min-width: 1280px) {
    body .main-col {
        width: 88%;
    }
    body .main-wrapper {
        margin-left: auto;
        margin-right: auto;
    }
}

/* Clipboard */
.zero-clipboard {
    position: relative;
    .btn-clipboard {
        position: absolute;
        top: 0;
        right: -1px;
        z-index: 10;
        display: block;
        padding: 5px 8px;
        font-size: 12px;
        color: #767676;
        cursor: pointer;
        background-color: #fff;
        border: 1px solid #e1e1e8;
        border-radius: 0 0 0 4px;
        &.zeroclipboard-is-hover {
            color: #FFF;
            border-color: @brand;
            background-color: @brand;
        }
    }
}


/* mm.css */

@brand: #FF6600;
@brand-hover: #fc4218;
@333: #333;
@666: #666;
@999: #999;
@ccc: #ccc;
@fafafa: #fafafa;
@f0f0f0: #f0f0f0;
@e6e6e6: #e6e6e6;
@green: #51A300;
@red: #A40100;
@backdrop: #474747;

.color-brand {
    color: @brand;
}
.color-green {
    color: @green;
}
.color-red {
    color: @red;
}
.color-333 {
    color: @333;
}
.color-666 {
    color: @666;
}
.color-999 {
    color: @999;
}
.color-ccc {
    color: @ccc;
}

.bg-brand {
    background-color: @brand;
}
.bg-red {
    background-color: @red;
}
.bg-backdrop {
    background-color: @backdrop;
}

body .btn {
    border: 0;
    padding: 6px 20px;
    &.btn-brand {
        border: 0;
        background-color: @brand;
        &:hover, &.hover,
        &:focus, &.focus,
        &:active, &.active {
            border: 0;
            color: #fff;
            background-color: @brand-hover;
        }
    }
    &.btn-disabled {
        border: 0;
        cursor: not-allowed;
    }
    &.btn-progress {
        position: relative;
        .btn-progress-bar {
            position: absolute;
            height: 32px;
            width: 50%;
            top: 0px;
            left: 0px;
            border-radius: 4px 0px 0px 4px;
            background-color: #cccccc;
        }
        span {
            position: relative;
        }
        &:hover {
            background-color: #e6e6e6;
        }
    }
    &.btn-brand.btn-progress {
        .btn-progress-bar {
            background-color: @brand-hover;
        }
        &:hover {
            background-color: @brand;
        }
    }

    &.btn-bounce {
        .one, .two, .three {
            display: inline-block;
            margin: auto 5px;
            border-radius: 100%;
            width: 5px;
            height: 5px;
            background-color: #FFF;
        }
    }
}

/* */
.spec-anchor {
    display: block;
    height: 50px;
    width: 0px;
    margin-top: -50px;
}

.sidebar-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 200px;
    height: 100%;
    // min-height: 500px;
    padding: 90px 0px 25px 0px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    overflow-y: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;

    .sidebar {
        padding-bottom: 40px;
     }
    .sidebar-item,
    .sidebar-item-sub {
        a {
            color: #666;
            display: block;
            padding: 10px 20px;
            white-space: nowrap;
            word-wrap: normal;
            &:hover {
                background-color: #F8F8F8;
            }
            small {
                color: #999;
                font-size: 65%;
            }
        }
        &.active a {
            background-color: #F7987D;
            &, small {
                color: #FFF;
            }
        }
    }
    .sidebar-item-sub {
        a {
            padding: 5px 10px 5px 40px;
        }
    }

}

.main-wrapper {
    margin-top: 50px;
    padding: 40px 40px 0 40px;
    min-height: 500px;
    max-width: 1170px;
}

@media (max-width: 768px) {
    .sidebar-wrapper {
        // display: none;
    }
    .main-wrapper {
        // margin-left: 0px;
    }
}

/* Readme */

#main {
    min-height: 500px;
}

/* Components */

.flat-text, .flat-text.small {
    margin: 0;
    height: 20px;
    background-color: @e6e6e6;
}

/* Input */
.parsley-errors-list {
    padding-left: 20px;
    color: #B94A48;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Textarea */
body {
    textarea, .textarea,
    textarea.form-control, .textarea.form-control {
        height: auto;
    }
}
