@charset "utf-8";
@import "http://g.assets.daily.taobao.net/thx/minecraft-animation/0.0.1/css/animate-min.css";
/* Color */
.color-brand {
  color: #ff6600;
}
.color-green {
  color: #51a300;
}
.color-red {
  color: #a40100;
}
.color-gray {
  color: #999999;
}
.color-primary {
  color: #ff6600;
}
.color-success {
  color: #51a300;
}
.color-info {
  color: #f0f0f0;
}
.color-warning {
  color: #a40100;
}
.color-danger {
  color: #a40100;
}
.color-333 {
  color: #333333;
}
.color-666 {
  color: #666666;
}
.color-999 {
  color: #999999;
}
.color-ccc {
  color: #cccccc;
}
.bg-brand {
  background-color: #ff6600;
}
.bg-red {
  background-color: #a40100;
}
.bg-backdrop {
  background-color: #474747;
}
.bg-primary {
  background-color: #ff6600;
}
.bg-success {
  background-color: #51a300;
}
.bg-info {
  background-color: #f0f0f0;
}
.bg-warning {
  background-color: #a40100;
}
.bg-danger {
  background-color: #a40100;
}
.color-hover-brand:hover {
  color: #ff6600;
}
.fontsize-12 {
  font-size: 12px;
}
.fontsize-14 {
  font-size: 14px;
}
.fontsize-16 {
  font-size: 16px;
}
.fontsize-18 {
  font-size: 18px;
}
.fontsize-20 {
  font-size: 20px;
}
.fontsize-24 {
  font-size: 24px;
}
.fontsize-28 {
  font-size: 28px;
}
.fontsize-32 {
  font-size: 32px;
}
.fontsize-36 {
  font-size: 36px;
}
.fontsize-40 {
  font-size: 40px;
}
.ml0 {
  margin-left: 0px;
}
.ml2 {
  margin-left: 2px;
}
.ml3 {
  margin-left: 3px;
}
.ml4 {
  margin-left: 4px;
}
.ml5 {
  margin-left: 5px;
}
.ml6 {
  margin-left: 6px;
}
.ml7 {
  margin-left: 7px;
}
.ml8 {
  margin-left: 8px;
}
.ml9 {
  margin-left: 9px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.ml25 {
  margin-left: 25px;
}
.ml30 {
  margin-left: 30px;
}
.ml35 {
  margin-left: 35px;
}
.ml40 {
  margin-left: 40px;
}
.ml60 {
  margin-left: 60px;
}
.ml80 {
  margin-left: 80px;
}
.mr0 {
  margin-right: 0px;
}
.mr2 {
  margin-right: 2px;
}
.mr3 {
  margin-right: 3px;
}
.mr4 {
  margin-right: 4px;
}
.mr5 {
  margin-right: 5px;
}
.mr6 {
  margin-right: 6px;
}
.mr7 {
  margin-right: 7px;
}
.mr8 {
  margin-right: 8px;
}
.mr9 {
  margin-right: 9px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.mr25 {
  margin-right: 25px;
}
.mr30 {
  margin-right: 30px;
}
.mr35 {
  margin-right: 35px;
}
.mr40 {
  margin-right: 40px;
}
.mr60 {
  margin-right: 60px;
}
.mr80 {
  margin-right: 80px;
}
.mt0 {
  margin-top: 0px;
}
.mt2 {
  margin-top: 2px;
}
.mt3 {
  margin-top: 3px;
}
.mt4 {
  margin-top: 4px;
}
.mt5 {
  margin-top: 5px;
}
.mt6 {
  margin-top: 6px;
}
.mt7 {
  margin-top: 7px;
}
.mt8 {
  margin-top: 8px;
}
.mt9 {
  margin-top: 9px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.mt35 {
  margin-top: 35px;
}
.mt40 {
  margin-top: 40px;
}
.mt60 {
  margin-top: 60px;
}
.mt80 {
  margin-top: 80px;
}
.mb0 {
  margin-bottom: 0px;
}
.mb2 {
  margin-bottom: 2px;
}
.mb3 {
  margin-bottom: 3px;
}
.mb4 {
  margin-bottom: 4px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb6 {
  margin-bottom: 6px;
}
.mb7 {
  margin-bottom: 7px;
}
.mb8 {
  margin-bottom: 8px;
}
.mb9 {
  margin-bottom: 9px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb25 {
  margin-bottom: 25px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb35 {
  margin-bottom: 35px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb60 {
  margin-bottom: 60px;
}
.mb80 {
  margin-bottom: 80px;
}
.pl0 {
  padding-left: 0px;
}
.pl2 {
  padding-left: 2px;
}
.pl3 {
  padding-left: 3px;
}
.pl4 {
  padding-left: 4px;
}
.pl5 {
  padding-left: 5px;
}
.pl6 {
  padding-left: 6px;
}
.pl7 {
  padding-left: 7px;
}
.pl8 {
  padding-left: 8px;
}
.pl9 {
  padding-left: 9px;
}
.pl10 {
  padding-left: 10px;
}
.pl15 {
  padding-left: 15px;
}
.pl20 {
  padding-left: 20px;
}
.pl25 {
  padding-left: 25px;
}
.pl30 {
  padding-left: 30px;
}
.pl35 {
  padding-left: 35px;
}
.pl40 {
  padding-left: 40px;
}
.pl60 {
  padding-left: 60px;
}
.pl80 {
  padding-left: 80px;
}
.pr0 {
  padding-right: 0px;
}
.pr2 {
  padding-right: 2px;
}
.pr3 {
  padding-right: 3px;
}
.pr4 {
  padding-right: 4px;
}
.pr5 {
  padding-right: 5px;
}
.pr6 {
  padding-right: 6px;
}
.pr7 {
  padding-right: 7px;
}
.pr8 {
  padding-right: 8px;
}
.pr9 {
  padding-right: 9px;
}
.pr10 {
  padding-right: 10px;
}
.pr15 {
  padding-right: 15px;
}
.pr20 {
  padding-right: 20px;
}
.pr25 {
  padding-right: 25px;
}
.pr30 {
  padding-right: 30px;
}
.pr35 {
  padding-right: 35px;
}
.pr40 {
  padding-right: 40px;
}
.pr60 {
  padding-right: 60px;
}
.pr80 {
  padding-right: 80px;
}
.pt0 {
  padding-top: 0px;
}
.pt2 {
  padding-top: 2px;
}
.pt3 {
  padding-top: 3px;
}
.pt4 {
  padding-top: 4px;
}
.pt5 {
  padding-top: 5px;
}
.pt6 {
  padding-top: 6px;
}
.pt7 {
  padding-top: 7px;
}
.pt8 {
  padding-top: 8px;
}
.pt9 {
  padding-top: 9px;
}
.pt10 {
  padding-top: 10px;
}
.pt15 {
  padding-top: 15px;
}
.pt20 {
  padding-top: 20px;
}
.pt25 {
  padding-top: 25px;
}
.pt30 {
  padding-top: 30px;
}
.pt35 {
  padding-top: 35px;
}
.pt40 {
  padding-top: 40px;
}
.pt60 {
  padding-top: 60px;
}
.pt80 {
  padding-top: 80px;
}
.pb0 {
  padding-bottom: 0px;
}
.pb2 {
  padding-bottom: 2px;
}
.pb3 {
  padding-bottom: 3px;
}
.pb4 {
  padding-bottom: 4px;
}
.pb5 {
  padding-bottom: 5px;
}
.pb6 {
  padding-bottom: 6px;
}
.pb7 {
  padding-bottom: 7px;
}
.pb8 {
  padding-bottom: 8px;
}
.pb9 {
  padding-bottom: 9px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb15 {
  padding-bottom: 15px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb25 {
  padding-bottom: 25px;
}
.pb30 {
  padding-bottom: 30px;
}
.pb35 {
  padding-bottom: 35px;
}
.pb40 {
  padding-bottom: 40px;
}
.pb60 {
  padding-bottom: 60px;
}
.pb80 {
  padding-bottom: 80px;
}
/* Font */
@font-face {
  font-family: 'specfont';
  src: url('//at.alicdn.com/t/font_1438244124_9732695.eot');
  src: url('//at.alicdn.com/t/font_1438244124_9732695.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//at.alicdn.com/t/font_1438244124_9732695.woff') format('woff'), /* chrome、firefox */ url('//at.alicdn.com/t/font_1438244124_9732695.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/font_1438244124_9732695.svg#iconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
.specfont {
  font-family: "specfont" !important;
  font-size: 16px;
  font-style: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-minecraft:before {
  content: "\e631";
}
.icon-xialakuang:before {
  content: "\e623";
}
/* Font */
@font-face {
  font-family: 'zsfont';
  src: url('//at.alicdn.com/t/font_1436859315_9685595.eot');
  src: url('//at.alicdn.com/t/font_1436859315_9685595.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//at.alicdn.com/t/font_1436859315_9685595.woff') format('woff'), /* chrome、firefox */ url('//at.alicdn.com/t/font_1436859315_9685595.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/font_1436859315_9685595.svg#iconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
.zsfont {
  font-family: "zsfont" !important;
  font-size: 16px;
  font-style: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
/* Font */
@font-face {
  font-family: 'productfont';
  src: url('//at.alicdn.com/t/font_1438848723_123487.eot');
  src: url('//at.alicdn.com/t/font_1438848723_123487.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//at.alicdn.com/t/font_1438848723_123487.woff') format('woff'), /* chrome、firefox */ url('//at.alicdn.com/t/font_1438848723_123487.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/font_1438848723_123487.svg#iconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
.productfont {
  font-family: "productfont" !important;
  font-size: 16px;
  font-style: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
/**
 * 栅格布局
 * @file:  grid.css   
 * @author:  一丝 
 * @update:   2014-05-14 14:35:10;  
 */
/* ==========================================================================
    行
    ========================================================================== */
/* 闭合浮动 */
.mm-row:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
}
.mm-row {
  *zoom: 1;
}
/* ==========================================================================
    列
    ========================================================================== */
.col {
  float: left;
  _display: inline;
  position: relative;
  min-height: 1px;
}
/**
 * 64 列栅格
 * 需要主意 IE6/7 浮点数计算差异问题
 * 0.5/1170*100% = 0.0427%
 */
.mm-row .col-1 {
  width: 1.5625%;
}
.mm-row .offset-1 {
  margin-left: 1.5625%;
}
.mm-row .col-2 {
  width: 3.125%;
}
.mm-row .offset-2 {
  margin-left: 3.125%;
}
.mm-row .col-3 {
  width: 4.6875%;
}
.mm-row .offset-3 {
  margin-left: 4.6875%;
}
.mm-row .col-4 {
  width: 6.25%;
}
.mm-row .offset-4 {
  margin-left: 6.25%;
}
.mm-row .col-5 {
  width: 7.8125%;
}
.mm-row .offset-5 {
  margin-left: 7.8125%;
}
.mm-row .col-6 {
  width: 9.375%;
}
.mm-row .offset-6 {
  margin-left: 9.375%;
}
.mm-row .col-7 {
  width: 10.9375%;
}
.mm-row .offset-7 {
  margin-left: 10.9375%;
}
.mm-row .col-8 {
  width: 12.5%;
}
.mm-row .offset-8 {
  margin-left: 12.5%;
}
.mm-row .col-9 {
  width: 14.0625%;
}
.mm-row .offset-9 {
  margin-left: 14.0625%;
}
.mm-row .col-10 {
  width: 15.625%;
}
.mm-row .offset-10 {
  margin-left: 15.625%;
}
.mm-row .col-11 {
  width: 17.1875%;
}
.mm-row .offset-11 {
  margin-left: 17.1875%;
}
.mm-row .col-12 {
  width: 18.75%;
}
.mm-row .offset-12 {
  margin-left: 18.75%;
}
.mm-row .col-13 {
  width: 20.3125%;
}
.mm-row .offset-13 {
  margin-left: 20.3125%;
}
.mm-row .col-14 {
  width: 21.875%;
}
.mm-row .offset-14 {
  margin-left: 21.875%;
}
.mm-row .col-15 {
  width: 23.4375%;
}
.mm-row .offset-15 {
  margin-left: 23.4375%;
}
.mm-row .col-16 {
  width: 25%;
}
.mm-row .offset-16 {
  margin-left: 25%;
}
.mm-row .col-17 {
  width: 26.5625%;
}
.mm-row .offset-17 {
  margin-left: 26.5625%;
}
.mm-row .col-18 {
  width: 28.125%;
}
.mm-row .offset-18 {
  margin-left: 28.125%;
}
.mm-row .col-19 {
  width: 29.6875%;
}
.mm-row .offset-19 {
  margin-left: 29.6875%;
}
.mm-row .col-20 {
  width: 31.25%;
}
.mm-row .offset-20 {
  margin-left: 31.25%;
}
.mm-row .col-21 {
  width: 32.8125%;
}
.mm-row .offset-21 {
  margin-left: 32.8125%;
}
.mm-row .col-22 {
  width: 34.375%;
}
.mm-row .offset-22 {
  margin-left: 34.375%;
}
.mm-row .col-23 {
  width: 35.9375%;
}
.mm-row .offset-23 {
  margin-left: 35.9375%;
}
.mm-row .col-24 {
  width: 37.5%;
}
.mm-row .offset-24 {
  margin-left: 37.5%;
}
.mm-row .col-25 {
  width: 39.0625%;
}
.mm-row .offset-25 {
  margin-left: 39.0625%;
}
.mm-row .col-26 {
  width: 40.625%;
}
.mm-row .offset-26 {
  margin-left: 40.625%;
}
.mm-row .col-27 {
  width: 42.1875%;
}
.mm-row .offset-27 {
  margin-left: 42.1875%;
}
.mm-row .col-28 {
  width: 43.75%;
}
.mm-row .offset-28 {
  margin-left: 43.75%;
}
.mm-row .col-29 {
  width: 45.3125%;
}
.mm-row .offset-29 {
  margin-left: 45.3125%;
}
.mm-row .col-30 {
  width: 46.875%;
}
.mm-row .offset-30 {
  margin-left: 46.875%;
}
.mm-row .col-31 {
  width: 48.4375%;
}
.mm-row .offset-31 {
  margin-left: 48.4375%;
}
.mm-row .col-32 {
  width: 50%;
}
.mm-row .offset-32 {
  margin-left: 50%;
}
.mm-row .col-33 {
  width: 51.5625%;
}
.mm-row .offset-33 {
  margin-left: 51.5625%;
}
.mm-row .col-34 {
  width: 53.125%;
}
.mm-row .offset-34 {
  margin-left: 53.125%;
}
.mm-row .col-35 {
  width: 54.6875%;
}
.mm-row .offset-35 {
  margin-left: 54.6875%;
}
.mm-row .col-36 {
  width: 56.25%;
}
.mm-row .offset-36 {
  margin-left: 56.25%;
}
.mm-row .col-37 {
  width: 57.8125%;
}
.mm-row .offset-37 {
  margin-left: 57.8125%;
}
.mm-row .col-38 {
  width: 59.375%;
}
.mm-row .offset-38 {
  margin-left: 59.375%;
}
.mm-row .col-39 {
  width: 60.9375%;
}
.mm-row .offset-39 {
  margin-left: 60.9375%;
}
.mm-row .col-40 {
  width: 62.5%;
}
.mm-row .offset-40 {
  margin-left: 62.5%;
}
.mm-row .col-41 {
  width: 64.0625%;
}
.mm-row .offset-41 {
  margin-left: 64.0625%;
}
.mm-row .col-42 {
  width: 65.625%;
}
.mm-row .offset-42 {
  margin-left: 65.625%;
}
.mm-row .col-43 {
  width: 67.1875%;
}
.mm-row .offset-43 {
  margin-left: 67.1875%;
}
.mm-row .col-44 {
  width: 68.75%;
}
.mm-row .offset-44 {
  margin-left: 68.75%;
}
.mm-row .col-45 {
  width: 70.3125%;
}
.mm-row .offset-45 {
  margin-left: 70.3125%;
}
.mm-row .col-46 {
  width: 71.875%;
}
.mm-row .offset-46 {
  margin-left: 71.875%;
}
.mm-row .col-47 {
  width: 73.4375%;
}
.mm-row .offset-47 {
  margin-left: 73.4375%;
}
.mm-row .col-48 {
  width: 75%;
}
.mm-row .offset-48 {
  margin-left: 75%;
}
.mm-row .col-49 {
  width: 76.5625%;
}
.mm-row .offset-49 {
  margin-left: 76.5625%;
}
.mm-row .col-50 {
  width: 78.125%;
}
.mm-row .offset-50 {
  margin-left: 78.125%;
}
.mm-row .col-51 {
  width: 79.6875%;
}
.mm-row .offset-51 {
  margin-left: 79.6875%;
}
.mm-row .col-52 {
  width: 81.25%;
}
.mm-row .offset-52 {
  margin-left: 81.25%;
}
.mm-row .col-53 {
  width: 82.8125%;
}
.mm-row .offset-53 {
  margin-left: 82.8125%;
}
.mm-row .col-54 {
  width: 84.375%;
}
.mm-row .offset-54 {
  margin-left: 84.375%;
}
.mm-row .col-55 {
  width: 85.9375%;
}
.mm-row .offset-55 {
  margin-left: 85.9375%;
}
.mm-row .col-56 {
  width: 87.5%;
}
.mm-row .offset-56 {
  margin-left: 87.5%;
}
.mm-row .col-57 {
  width: 89.0625%;
}
.mm-row .offset-57 {
  margin-left: 89.0625%;
}
.mm-row .col-58 {
  width: 90.625%;
}
.mm-row .offset-58 {
  margin-left: 90.625%;
}
.mm-row .col-59 {
  width: 92.1875%;
}
.mm-row .offset-59 {
  margin-left: 92.1875%;
}
.mm-row .col-60 {
  width: 93.75%;
}
.mm-row .offset-60 {
  margin-left: 93.75%;
}
.mm-row .col-61 {
  width: 95.3125%;
}
.mm-row .offset-61 {
  margin-left: 95.3125%;
}
.mm-row .col-62 {
  width: 96.875%;
}
.mm-row .offset-62 {
  margin-left: 96.875%;
}
.mm-row .col-63 {
  width: 98.4375%;
}
.mm-row .offset-63 {
  margin-left: 98.4375%;
}
.mm-row .col-64 {
  width: 100%;
}
.mm-row .offset-64 {
  margin-left: 100%;
}
* {
  transition: width .15s, padding .15s, margin .15s, opacity .15s;
}
body {
  overflow-x: hidden;
}
::selection {
  background-color: #ff6600;
  color: white;
}
/* SVG */
tspan {
  font-family: "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", Georgia, "Times New Roman", Arial, sans-serif;
}
/* 基础样式 & 工具样式 */
h1,
.h1 {
  font-size: 24px;
}
h2,
.h2 {
  font-size: 16px;
}
h3,
.h3 {
  font-size: 12px;
}
h4,
.h4 {
  font-size: 12px;
}
small,
.small {
  color: #999;
  font-size: 80%;
}
pre {
  background-color: #FAFAFA;
}
hr {
  border-top: 1px solid #e6e6e6;
}
p {
  line-height: 1.8;
}
blockquote {
  font-size: 14px;
}
.bold {
  font-weight: bold;
}
.tahoma {
  font-family: "Tahoma";
}
body a {
  color: #ff6600;
  text-decoration: none;
}
body a:hover,
body a:focus {
  color: #fc4218;
}
body a,
body a:hover,
body a:focus,
body a:active,
body a:visited {
  outline: 0;
  text-decoration: none;
}
body .table thead tr th,
body .table thead tr.active th {
  color: #999;
  font-weight: normal;
  height: 60px;
  vertical-align: middle;
  padding: 0 8px 0 14px;
  white-space: nowrap;
  background-color: #fafafa;
  border: none;
}
body .table thead tr th.stable,
body .table thead tr.active th.stable {
  background-color: #f0f0f0;
}
body .table tbody tr td {
  color: #333;
  height: 60px;
  max-height: 90px;
  vertical-align: middle;
  padding: 0 8px 0 14px;
  border-top: none;
  border-bottom: 1px solid #e6e6e6;
}
body .table tbody tr.active td {
  background-color: transparent;
}
body .table tbody tr:hover {
  background-color: #FAF3EB;
}
body .table tbody tr.active:hover td {
  background-color: #FAF3EB;
}
body .table.table-bordered thead tr th {
  border: 1px solid #e6e6e6;
}
body .table tr:hover .operation {
  visibility: hidden;
}
body .table tr:hover > td > .operation {
  visibility: visible;
}
body .table tbody tr td.sub-toggle .brixfont {
  cursor: pointer;
  display: none;
}
body .table tbody tr td.sub-toggle .brixfont.plus {
  display: block;
}
body .table tbody tr td.sub-toggle.open .brixfont {
  display: none;
}
body .table tbody tr td.sub-toggle.open .brixfont.minus {
  display: block;
}
body .table tbody tr.sub {
  display: none;
  background-color: transparent!important;
}
body .table tbody tr.sub > td table.table {
  margin-bottom: -1px;
}
.lead {
  font-size: 12px;
}
.marginfix {
  height: 1px;
}
.text-align-center {
  text-align: center;
}
.vertical-align-middle {
  vertical-align: middle;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hljs {
  padding: 0;
  background-color: transparent;
}
/* Table Grid */
@media (min-width: 30em) {
  .ungrid-row {
    width: 100%;
    display: table;
    table-layout: fixed;
  }
  .ungrid-col {
    display: table-cell;
  }
}
/* Clipboard */
.zero-clipboard {
  position: relative;
}
.zero-clipboard .btn-clipboard {
  position: absolute;
  top: 0;
  right: -1px;
  z-index: 10;
  display: block;
  padding: 5px 8px;
  font-size: 12px;
  color: #767676;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #e1e1e8;
  border-radius: 0 0 0 4px;
}
.zero-clipboard .btn-clipboard.zeroclipboard-is-hover {
  color: #FFF;
  border-color: #ff6600;
  background-color: #ff6600;
}
.zero-clipboard .popover-content {
  text-align: center;
}
/* mm.css */
body .btn {
  border: 0;
  padding: 6px 20px;
}
body .btn.btn-brand {
  border: 0;
  background-color: #ff6600;
}
body .btn.btn-brand:hover,
body .btn.btn-brand.hover,
body .btn.btn-brand:focus,
body .btn.btn-brand.focus,
body .btn.btn-brand:active,
body .btn.btn-brand.active {
  border: 0;
  color: #fff;
  background-color: #fc4218;
}
body .btn.btn-disabled {
  border: 0;
  cursor: not-allowed;
  color: #cccccc;
}
body .btn.btn-progress {
  position: relative;
}
body .btn.btn-progress .btn-progress-bar {
  position: absolute;
  height: 32px;
  width: 50%;
  top: 0px;
  left: 0px;
  border-radius: 4px 0px 0px 4px;
  background-color: #cccccc;
}
body .btn.btn-progress span {
  position: relative;
}
body .btn.btn-progress:hover {
  background-color: #e6e6e6;
}
body .btn.btn-brand.btn-progress .btn-progress-bar {
  background-color: #fc4218;
}
body .btn.btn-brand.btn-progress:hover {
  background-color: #ff6600;
}
body .btn.btn-bounce .one,
body .btn.btn-bounce .two,
body .btn.btn-bounce .three {
  display: inline-block;
  margin: auto 5px;
  border-radius: 100%;
  width: 5px;
  height: 5px;
  background-color: #FFF;
}
/* */
.spec-anchor {
  display: block;
  height: 80px;
  width: 0px;
  margin-top: -80px;
}
/* Readme */
#main {
  min-height: 500px;
}
/* Components */
.flat-text,
.flat-text.small {
  margin: 0;
  height: 20px;
  background-color: #e6e6e6;
  padding-left: 8px;
  padding-right: 8px;
  overflow: hidden;
  color: #999;
}
/* Input */
body .parsley-errors-list {
  list-style: none;
  padding-left: 9px;
  color: #999;
  margin-top: 9px;
  margin-bottom: 5px;
}
body .parsley-errors-list + .parsley-errors-list {
  margin-top: 5px;
}
/* Textarea */
body textarea,
body .textarea,
body textarea.form-control,
body .textarea.form-control {
  height: auto;
}
body input:focus,
body .input:focus,
body input.focus,
body textarea:focus,
body .textarea:focus,
body textarea.focus,
body .form-control:focus,
body .form-control.focus {
  border-color: #ff6600;
}
body .input.error,
body input.error,
body .textarea.error,
body textarea.error,
body .form-control.error {
  border-color: #a40100;
}
/* 响应式 */
.sidebar-col,
.main-col {
  float: left;
  position: relative;
  min-height: 1px;
}
.sidebar-col .sidebar-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 200px;
  height: 100%;
  padding: 90px 0px 25px 0px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  overflow-y: scroll;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
}
.sidebar-col .sidebar-wrapper .sidebar {
  padding-bottom: 40px;
}
.sidebar-col .sidebar-wrapper .sidebar-item a,
.sidebar-col .sidebar-wrapper .sidebar-item-sub a {
  color: #666;
  display: block;
  padding: 10px 20px;
  white-space: nowrap;
  word-wrap: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sidebar-col .sidebar-wrapper .sidebar-item a:hover,
.sidebar-col .sidebar-wrapper .sidebar-item-sub a:hover {
  background-color: #F8F8F8;
}
.sidebar-col .sidebar-wrapper .sidebar-item a small,
.sidebar-col .sidebar-wrapper .sidebar-item-sub a small {
  color: #999;
  font-size: 65%;
}
.sidebar-col .sidebar-wrapper .sidebar-item.active a,
.sidebar-col .sidebar-wrapper .sidebar-item-sub.active a {
  background-color: #FF6600;
}
.sidebar-col .sidebar-wrapper .sidebar-item.active a,
.sidebar-col .sidebar-wrapper .sidebar-item-sub.active a,
.sidebar-col .sidebar-wrapper .sidebar-item.active a small,
.sidebar-col .sidebar-wrapper .sidebar-item-sub.active a small {
  color: #FFF;
}
.sidebar-col .sidebar-wrapper .sidebar-item-sub a {
  padding: 5px 10px 5px 40px;
}
.main-col {
  margin-left: 200px;
}
.main-col .main-wrapper {
  margin-top: 50px;
  padding: 40px 40px 0 40px;
  min-height: 500px;
  max-width: 1170px;
}
input[type=checkbox]:checked:after {
  background-color: #ff6600;
  top: 1px;
}
input[type=radio]:checked:after {
  background-color: #ff6600;
}
@media only screen and (max-width: 767px) {
  .navbar .navbar-header .navbar-toggle {
    display: block;
    float: left;
  }
}
@media only screen and (max-width: 767px) {
  .navbar .navbar-header .navbar-logo {
    position: absolute;
    width: 180px;
    left: 50%;
    right: 0;
    margin-left: -90px;
  }
}
.navbar .navbar-collapse ul.navbar-nav > li > a {
  opacity: .6;
}
@media only screen and (max-width: 767px) {
  .navbar .navbar-collapse ul.navbar-nav > li > a.hasmore {
    display: none;
  }
}
.navbar .navbar-collapse ul.navbar-nav > li:hover > a,
.navbar .navbar-collapse ul.navbar-nav > li.active > a {
  opacity: 1;
}
.navbar .navbar-collapse ul.navbar-nav > li > .dropdown {
  padding-left: 18px;
}
@media only screen and (max-width: 767px) {
  .navbar .navbar-collapse ul.navbar-nav > li > .dropdown {
    display: block;
  }
}
.navbar .navbar-collapse ul.navbar-nav > li > .dropdown > .dropdown-toggle {
  padding: 7px 12px;
}
.navbar .navbar-collapse ul.navbar-nav > li > .dropdown > ul.dropdown-menu {
  margin: 0;
  padding: 0;
  border: none;
  background-color: #ff6600;
  border-radius: 0;
}
.navbar .navbar-collapse ul.navbar-nav > li > .dropdown > ul.dropdown-menu > li.sidebar-item {
  padding: 0;
}
.navbar .navbar-collapse ul.navbar-nav > li > .dropdown > ul.dropdown-menu > li.sidebar-item > a {
  color: white;
  padding: 8px 24px;
}
.navbar .navbar-collapse ul.navbar-nav > li > .dropdown > ul.dropdown-menu > li.sidebar-item > a > small {
  color: white;
}
.navbar .navbar-collapse ul.navbar-nav > li > .dropdown > ul.dropdown-menu > li.sidebar-item > a:hover {
  color: white;
  background-color: #FF933A;
  border-radius: 0;
}
@media only screen and (max-width: 767px) {
  .sidebar-col {
    display: none;
  }
}
.sidebar-col .sidebar-wrapper {
  width: 200px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .sidebar-col .sidebar-wrapper {
    width: 120px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .sidebar-col .sidebar-wrapper .sidebar .sidebar-item a small {
    display: none;
  }
}
.main-col {
  margin-left: 200px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .main-col {
    margin-left: 120px;
  }
}
@media only screen and (max-width: 767px) {
  .main-col {
    margin-left: 0;
    width: 100%;
  }
}
@media only screen and (min-width: 1280px) {
  .main-col {
    width: 88%;
  }
}
@media only screen and (min-width: 1280px) {
  .main-col .main-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}
