p {
  color: #999;
  font-size: 14px;
}
small {
  font-size: 12px;
}
ul {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'tablelistfont';
  src: url('//at.alicdn.com/t/font_1448949980_7627826.eot');
  src: url('//at.alicdn.com/t/font_1448949980_7627826.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//at.alicdn.com/t/font_1448949980_7627826.woff') format('woff'), /* chrome、firefox */ url('//at.alicdn.com/t/font_1448949980_7627826.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/font_1448949980_7627826.svg#iconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
.tablelistfont {
  font-family: "tablelistfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
li {
  list-style: none;
}
.spec-section .content-body {
  background: #FAFAFA;
  overflow: hidden;
}
.spec-section .content-show {
  float: left;
  width: 380px;
  background: #fff;
}
.spec-section .content-show h2 {
  margin: 0;
  height: 100%;
}
.spec-section .content-show .demo_content {
  background: #fff;
  overflow: hidden;
  position: relative;
}
.spec-section .content-show .demo_content .phone_demo {
  border: 2px solid #666666;
  background: #f6f5f7;
  margin: 28px 30px 0 30px;
}
.spec-section .content-show .content-pre {
  border-left: 1px solid #ccc;
}
.spec-section .promotion {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
}
.spec-section .h5Col {
  background: #fff;
  border: 1px solid #D7D7D7;
  margin-bottom: 16px;
  padding: 0 16px;
  position: relative;
}
.spec-section .h5Col .forDetail {
  position: absolute;
  color: #999999;
  right: 16px;
  font-size: 24px;
}
.spec-section .qrcode {
  height: 48px;
  line-height: 48px;
}
.spec-section .safty {
  height: 48px;
  line-height: 48px;
}
.spec-section .email {
  height: 48px;
  line-height: 48px;
}
.spec-section .email input {
  border: 0;
  padding: 0;
  float: right;
  margin-right: 28px;
}
.spec-section .entrace3 {
  height: 80px;
  line-height: 80px;
}
.spec-section .entrace3 .img {
  width: 56px;
  height: 56px;
  background: #d8d8d8;
  float: left;
  margin: 12px 16px 12px 0;
  border-radius: 50%;
}
.spec-section .entrace3 .content {
  margin: 12px 0;
}
.spec-section .entrace3 .content p {
  margin: 0;
}
.spec-section .entrace2 {
  height: 80px;
  line-height: 80px;
}
.spec-section .entrace2 .img {
  width: 40px;
  height: 40px;
  background: #d8d8d8;
  float: left;
  margin: 20px 16px 20px 0;
}
.spec-section .entrace2 .content {
  margin: 20px 0;
}
.spec-section .entrace2 .content p {
  margin: 0;
}
.spec-section .entrace1 {
  height: 48px;
  line-height: 48px;
}
.spec-section .entrace1 .img {
  width: 20px;
  height: 20px;
  background: #D8D8D8;
  margin: 14px 16px 14px 0;
  float: left;
}
.spec-section .head {
  height: 80px;
  line-height: 80px;
}
.spec-section .head .headContainer {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background: #ccc;
  margin-top: 10px;
  float: right;
  margin-right: 28px;
}
.spec-section .pd0 {
  padding: 0px!important;
}
